<?xml version="1.0" encoding="UTF-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flueky.demo">

    <uses-sdk tools:overrideLibrary="com.flueky.library" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.flueky.lib.TestActivity"
            android:windowSoftInputMode="adjustPan">
            <!--            <meta-data-->
            <!--                android:name="debug_index"-->
            <!--                tools:node="remove" />-->
            <!--            <meta-data tools:node="removeAll" />-->

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--            </intent-filter>-->
        </activity>
    </application>

</manifest>