<?xml version="1.0" encoding="UTF-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flueky.demo">


    <permission android:name="${applicationId}.PERMISSION_DEMO" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
            <intent-filter>
                <data
                    android:host="${hostName}"
                    android:scheme="http" />
            </intent-filter>
        </activity>

    </application>

</manifest>